<header class="header">
  <div class="image-div">
    <img src="../../images/logo-2.png">
  </div>
  <ul class="nav-bar nav nav-pills">
    <li><a href="#">Popular</a></li>
    <li><a href="#">Nearby</a></li>
    <li><a href="#">Staff Picks</a></li>
  </ul>
  <ul class="nav-bar nav nav-pills pull-right">
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Login</a></li>
  </ul>
</header>
<section class="search">
  <h1>Your ticket to every event.</h1>
  <form class="form-search">
    <input type="text" class="input-medium search-query" placeholder="Search by team, artist, event, or venue...">
    <button id="search-btn" type="submit" class="btn">Search</button>
  </form>
</section>
<section class="explore">
  <h1>Browse your city's top events</h1>
  <div class="float-left nfl padding-left">
   <h1>Pro Football</h1>
   <h3>12 upcoming games</h3>
  </div>
  <div class="float-left ncaa">
   <h1>NCAA Football</h1>
   <h3>83 upcoming games</h3>
  </div>
  <div class="float-left nba">
   <h1>NBA</h1>
   <h3>23 upcoming games</h3>
  </div>
  <div></div>
  <div class="float-left rock padding-left">
   <h1>Rock</h1>
   <h3>17 upcoming concerts</h3>
  </div>
  <div class="float-left country">
   <h1>Country</h1>
   <h3>11 upcoming concerts</h3>
  </div>
  <div class="float-left theater">
   <h1>Theater</h1>
   <h3>74 upcoming shows</h3>
  </div>
  <a href="">Browse all categories</a>
</section>
<footer>
  <ul class="nav-bar footer-bar nav nav-pills">
    <li><a href="#">About</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">API Docs</a></li>
  </ul>
</footer>